.SampleBrowser {
  width: 100%;
  height: 100%;
}

.SampleBrowserItemContainer {
  display: flex;
  flex-direction: column;
}

.SampleItem {
  margin-left: .5rem;
  margin-right: auto;
  text-align: left;
}
