.TopbarBase {
  display: flex;
  flex-direction: row;
  max-width: 100vw !important;
}

.Topbar {
  width: 100%;
  max-width: 100vw;
  height: 12vh;
  display: flex;
  justify-content: space-around;
}

.TempoInput {
  display: flex;
  flex-direction: column;

  &Field {
    width: 100%;
  
    &Container {
      width: 3rem;
    }
  }
}

.MetronomeButton {
  transform: scale(0.666);
}

.LoopButton {
  transform: scale(0.666);
}

.SnapButton {
  transform: scale(0.666);
}

.TopbarTimer {
  display: flex;
  flex-direction: column;
  width: 6rem;
  height: 3rem;

  &Label {
    display: flex;
  }
}

.ButtonArea {
  display: flex;
  flex-direction: row;
}
