.SidebarBase {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.Sidebar {
  height: 100vh;
  width: 100%;
}

.SidebarListContainer {
  display: flex;
  flex-direction: row;
}

.SidebarBody {
  display: flex;
  flex-direction: column;
}
