@tailwind base;
@tailwind components;
@tailwind utilities;

.AppRoot {
  overflow: hidden;
}

.WorkspaceContainer {
  overflow: hidden;
  height: calc(100vh - 12vh);
}

.rct-tree-items-container {
  display: flex;
  flex-direction: column;
}
